/* src/index.css */
@import "tailwindcss";

:root { color-scheme: light; }
.dark { color-scheme: dark; }

/* styling select (opsional, seperti sebelumnya) */
select, select option {
  background-color: #ffffff;
  color: #0f172a;
  border-color: #e5e7eb;
}
.dark select, .dark select option {
  background-color: #0b1220;
  color: #ffffff;
  border-color: #334155;
}
select option:checked { background-color: #1f2937; color: #fff; }
@media (forced-colors: active) {
  select, select option { forced-color-adjust: none; }
}
